<h3>Search Results</h3>
<% @first_ten_poems.each do |poem| %>
  <section class="poem">
    <h5 class="title"></h5>
    <p class="author"></p>
    <p class="poem-text"></p>
    <p class="tone"></p>
  </section>
<% end %>
